<% content_for :page_specific_javascript do %>
  <% javascript_include_tag "custom_fb_url" %>
  <% javascript_include_tag "tab" %>
  <% javascript_include_tag "modal" %>
<% end %>
  <h2><%= link_to @event.name, event_path(@event.id) %></h2>
  <p>
  <% if @event.start_time.future? %>
    <i class="fa fa-clock-o"></i> Starts in: <%= distance_of_time_in_words(@event.start_time, Time.now) %><br>
    <i class="fa fa-calendar"></i> <%= @event.start_time.to_formatted_s(:short) %><br>
    <% unless @event.end_time.nil? %>
    <i class="fa fa-clock-o"></i> Ends: <%= distance_of_time_in_words(@event.end_time, Time.now) %>
    <% end %>
  <% else %>
    <i class="fa fa-clock-o"></i> <%= distance_of_time_in_words(@event.start_time, Time.now) %> ago<br>
    <% unless @event.end_time.nil? %>
    <i class="fa fa-calendar"></i> Ended: <%= distance_of_time_in_words(@event.end_time, Time.now) %>
    <% end %>
  <% end %> 
  </p>
  
  <h3><%= @event.description %></h3>

  <p>&nbsp;</p>
  <p>
    <% unless @event.name.nil? %>
    <i class="fa fa-bullhorn"></i>
    <a href="http://facebook.com/hashtag/<%= to_hashtag(@event.name) %>">
      <%= to_hashtag(@event.name) %>
    </a><br>
    <% end %>
    <i class="fa fa-facebook-square"></i> <a href="http://facebook.com/<%= @event.fb_id %>" target="_blank">Facebook Event</a>
  </p>
  <hr>
      <!-- Nav tabs -->
      <ul class="nav nav-pills nav-justified">
        <li>
          <a href="#admins" data-toggle="tab">
            <% if @event.admins.count > 0 %>
              <%= @event.admins.count > 1 ? "Admins" : "Admin" %>
            <% else %>
            No admins
            <% end %> <span class="badge"><%= @event.admins.count %></span>
          </a>
        </li>
        <li class="active">
          <a href="#definites" data-toggle="tab">
            <% if @event.definites.count > 0 %>
              <%= @event.definites.count > 1 ? "Definites" : "Definite" %>
            <% else %>
            No definites
            <% end %> <span class="badge"><%= @event.definites.count %></span>
          </a>
        </li>
        
        <li>
          <a href="#maybes" data-toggle="tab">
            <% if @event.maybes.count > 0 %>
              <%= @event.maybes.count > 1 ? "Maybes" : "Maybe" %>
            <% else %>
            No maybes
            <% end %> <span class="badge"><%= @event.maybes.count %></span>
          </a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane" id="admins">
          <ul class="list-users">
          <% @event.admins.each do |admin| %>
            <li>
              <a href="http://m.facebook.com/<%= admin.fb_id %>" class="picture bg-cover" style="background-image:url('<%= admin.picture_url %>');">
                <div class="name-block">
                  <div class="name-text">
                    <%= admin.first_name %>
                  </div>
                </div>
              </a>
            </li>
          <% end %>
          </ul>
        </div>
        <div class="tab-pane active" id="definites">
          <ul class="list-users">
            <% @event.definites.each do |definite| %>
              <li>
                <a href="http://m.facebook.com/<%= definite.fb_id %>" class="picture bg-cover" style="background-image:url('<%= definite.picture_url %>');">
                  <div class="name-block">
                    <div class="name-text">
                      <%= definite.first_name %>
                    </div>
                  </div>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="tab-pane" id="maybes">
          <ul class="list-users">
          <% @event.maybes.each do |maybe| %>
            <li>
              <a href="http://m.facebook.com/<%= maybe.fb_id %>" class="picture bg-cover" style="background-image:url('<%= maybe.picture_url %>');">
                <div class="name-block">
                  <div class="name-text">
                    <%= maybe.first_name %>
                  </div>
                </div>
              </a>
            </li>
          <% end %>
          </ul>
        </div>
        <div class="tab-pane" id="declines">
          <ul class="list-users">
          <% @event.declines.each do |decline| %>
            <li>
              <div class="picture bg-cover" style="background-image:url('<%= decline.picture_url %>');">
                <div class="name-block">
                  <div class="name-text">
                    <%= decline.first_name %>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
      <br>
  <% if @event.privacy == "OPEN"%>
      <span class="privacy label label-success">OPEN TO PUBLIC</span>
  <% elsif @event.privacy == "FRIENDS"%>
      <span class="privacy label label-warning">FRIENDS OF FRIENDS</span>
  <% else %>
      <span class="privacy label label-danger">INVITE ONLY</span>
  <% end %>
  <hr>
  <div class="fb-comments" data-href="http://www.yobuoy.com/events/<%= @event.id %>" data-numposts="5" data-colorscheme="light"></div>


<!-- Modal -->
<div class="modal fade" id="fb-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Facebook Profile</h4>
      </div>
      <div class="modal-body">
        <iframe src="" style="zoom:0.60" width="99.6%" height="250" frameborder="0"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
  
<script>
  $('.list-users a').on('click',function(e){
    console.log(2397847293)
    var profileUrl = $(this).attr('href');
    $('#fb-modal').on('show', function () {
      $('iframe').attr("src", profileUrl);
    });
    $('#fb-modal').modal({show:true})
    e.preventDefault();
  });
</script>