<%= form_for @event do |f| %>

  <%= f.hidden_field :fb_id %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br><br>

  <%= f.label :description %><br>
  <%= f.text_area :description %><br><br>

  <%= f.label :start_time %><br>
  <%= f.datetime_local_field :start_time %><br>   
  <%= f.label :end_time %><br>
  <%= f.datetime_local_field :end_time %><br>     
  <%= f.label :privacy %><br><br>
  <%= f.text_field :privacy %><br><br>

  <%= f.fields_for :venues do |builder| %>
    <fieldset>
      <%= builder.hidden_field :fb_id %>

      <%= builder.label :name, "Name" %><br>
      <%= builder.text_area :name %><br><br>

      <%= builder.label :latitude, "latitude" %> <%= builder.label :longitude, "longitude" %><br>
      <%= builder.text_area :latitude %> <%= builder.text_area :longitude %><br>

      <%= builder.label :street, "Street" %><br>
      <%= builder.text_area :street %><br><br>

      <a href="javascript:getLocation()" id="geolocate">Get Location</a>

      <script>
      $("#geolocate").on('click',function(){
        
      })
      </script>
    </fieldset>
  <% end %>

  <%= f.submit %>
<% end %>