

<% if current_user %>
<nav id="main-navigation">
  <div class="content">
    <h1 class="text-center">
    <img src="<%= ActionController::Base.helpers.asset_path("buoy-logo.png").to_s %>" class="logo" width="75%">
    Buoy</h1>
  <ul class="menu">
    <li id="profile-picture" 
    class="bg-cover" 
    style="background-image:url('<%= @profile_picture %>')"></li>
    <li><%= current_user.first_name %><br>
      <%= current_user.location %><br>

    </li>
    <li><hr></li>
    <li>
      <span class="label label-success">LAT</span>  
      <span id="user-lat" class="label label-default"></span>
    </li>
    <li>
      <span class="label label-success">LONG</span>  
      <span id="user-lng" class="label label-default"></span></li>
    <li><hr></li>
    <li></li>

    <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
  </ul>
  </div>
  <div class="fb-like" data-href="https://www.yobuoy.com" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
</nav>


<div id="view">
  <header id="main">
    <h1>Events</h1>
    <div class="pull-left">
      <a href="javascript:toggleNav();" id="nav-toggle" class="block">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <%= link_to new_event_path(@event), :class => "block" do %>
    <div class="pull-right">
      <i class="fa fa-plus"></i>
    </div>
    <% end %>
  </header>
  <div class="container">

    <% if @events.count > 0 %>
    <% @events.each do |event| %>
    <div class="event-block">
      
      <% if event.venues.count > 0 
    
      venues = event.venues
      @hash = venues.map do |v|
        {lat: v.latitude, lng: v.longitude}
      end
      
      if (@hash.first[:lat]).nil?
        @latlon = "40.782001,-73.832703"
      else
        @latlon = "#{@hash.first[:lat]},#{@hash.first[:lng]}"
      end

      %> 

      <div class="bg-cover event-map">
        <input type="hidden" value="<%= @hash.to_json %>" class="coords">
        <div id="map-container">
          <div id="map" class="bg-cover" style="background-image:url('http://maps.googleapis.com/maps/api/staticmap?center=<%= @latlon %>&zoom=12&size=1000x300&sensor=false&markers=<%= @latlon %>')">
            <%= link_to "", event_path(event.id), :class => "tall-block" %></div>
          </div>
        </div>
        <% else %>
        <div class="event-no-map">
          <%= link_to event_path(event.id), :class => "tall-block" do %>
            <i class="fa fa-map-marker"></i> Create a Buoy...          
          <% end %>
        </div>
        <% end %>
        <div class="event-info">
          <div class="content">
            <% event.admins.each do |admin| 
              if admin[:name].eql?(current_user[:name]) %>
                <span class="label label-default">Admin</span> 
              <% end %>
            <% end %>
            
            <h2><%= link_to event.name, event_path(event.id) %></h2>
            <p>
            <% if event.start_time.future? %>
              <i class="fa fa-clock-o"></i> Starts in: <%= distance_of_time_in_words(event.start_time, Time.now) %><br>
              <i class="fa fa-calendar"></i> <%= event.start_time.to_formatted_s(:short) %><br>
              <% unless event.end_time.nil? %>
              <i class="fa fa-clock-o"></i> Ends: <%= distance_of_time_in_words(event.end_time, Time.now) %>
              <% end %>
            <% else %>
              <i class="fa fa-clock-o fa-fw"></i> <%= distance_of_time_in_words(event.start_time, Time.now) %> ago<br>
              <% unless event.end_time.nil? %>
              <i class="fa fa-calendar fa-fw"></i> Ended: <%= distance_of_time_in_words(event.end_time, Time.now) %>
              <% end %>
            <% end %> 
            </p>
         
            <p>
              <% unless event.name.nil? %>
              <i class="fa fa-bullhorn fa-fw"></i>
              <a href="http://facebook.com/hashtag/<%= to_hashtag(event.name) %>">
                #<%= to_hashtag(event.name) %>
              </a><br>
              <% end %>
              <i class="fa fa-facebook-square fa-fw"></i> <a href="http://facebook.com/<%= event.fb_id %>" target="_blank">Facebook Event</a>
            </p>

            <ul class="pill-container">
              <li>
                <% if event.venues.count == 0 %>
                <span class="label label-default">No Venue</span>
                <% elsif event.venues.count > 0 %>
                
                  <%= event.venues.count > 1 ? "#{event.venues.count} Venues" : "1 Venue" %> 
                <% end %>
              </li>
              <li>
                <% if event.admins.count > 0 %>
                  <%= event.admins.count > 1 ? "#{event.admins.count} Admins" : "1 Admin" %>
                <% else %>
                  No Admins
                <% end %> 
              </li>
              <li>
                <% if event.definites.count > 0 %>
                  <%= event.definites.count > 1 ? "#{event.definites.count} Definites" : "1 Definite" %>
                <% else %>
                  No definites
                <% end %>
              </li>
              
                <% if event.maybes.count > 0 %>
                <li><%= event.maybes.count > 1 ? "#{event.maybes.count} Maybes" : "1 Maybe" %></li>
                <% end %>
            </ul>

            <% if event.privacy == "OPEN"%>
                <span class="privacy label label-success">OPEN TO PUBLIC</span>
            <% elsif event.privacy == "FRIENDS"%>
                <span class="privacy label label-warning">FRIENDS OF FRIENDS</span>
            <% else %>
                <span class="privacy label label-danger">INVITE ONLY</span>
            <% end %>
          </div> <!-- /.content -->
        </div> <!-- /.event-info -->
      </div> <!-- /.event-block -->
      <% end %> <!--/|event| -->
      <% else %>
      <div class="vertBlock" style="height: 300px;">
        <div class="centered">
          <h1>No events!<br>
            Would you like to <%= link_to "add one?", new_event_path(@event) %></h1>
          </div>
        </div>
        <% end %><!-- /if Events exist -->
      </div> <!-- /.container -->
    </div> <!-- /#view-->
    <script type="text/javascript">
    $(function(){
      if ($('.event-map').length >0){
        var i = 0;
        $('.event-map').each(function(i){
          $(this).find('#map').attr('id', ('map-'+i));
          $(this).find('#map-container').attr('id', ('map-container-'+i));
          var coords = $(this).find('.coords').val();
          i++;
          console.log(coords)      
        }); // End of each
      } // .event-map > 0 ?  
    })
    
    </script>
      
    <% else %> <!-- Not logged in -->
      <div id="login">
        <div class="vertBlock">
          <div class="centered">
              <div class="buoy-animated">
                <div class="water-back"></div>
                <div class="buoy-logo">
                  <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                  </div>
                </div>
                <div class="water-front"></div>
              </div>
            <h1>Buoy</h1>
            <h2>Manage your events, preserve the voyage.</h2><br>
            
            <%= link_to "Facebook Login", "/auth/facebook", class:"btn btn-lg btn-primary btn-block", id: "sign_in" %><br><br>
            Built by <a href="http://joeylabs.com" target="_blank"><img src="http://joeylabs.com/img/JOEY_LOGO.png" height="25"></a>
            
          </div><!-- /.centered -->
        </div><!-- /vertBlock -->
      </div><!-- /#login -->
    <% end %>


  <script type="text/javascript">
    $(function(){
      $('#sign_in').on('click',function(){
        $('.buoy-logo .spinner').addClass('active');
      });
    });
  </script>
