



<%= render 'fb_comments' %>

<header id="main">
  <h1><%= @event.name %></h1>
  <%= link_to events_path, :class => "block" do %>
    <div class="pull-left">
      <i class="fa fa-chevron-left"></i>
    </div>
  <% end %>
  <%= link_to edit_event_path(@event), :class => "block" do %>
    <div class="pull-right">
      <i class="fa fa-pencil"></i>
    </div>
  <% end %>
  
  
</header>

<div id="view">
  <div class="container">
    <div class="event-block">
      <% if @event.venues.count > 0 %>
      <div class="event-map">
        <div id="map"></div>
      </div>
      <% else %>
      <div class="event-no-map">
        <%= link_to "Add a Venue...", edit_event_path(@event), :class => "tall-block" %>
      </div>
      <% end %>
      <div class="event-info">
        <div class="content">
          <%= render 'event_info' %>  
        </div> <!-- /.content -->
      </div> <!-- /.event-info -->
    </div> <!-- /.event-block -->
  </div> <!-- /.container -->
</div> <!-- /#view -->



<script type="text/javascript">
    <% 
      if @hash.first.nil?
        @hash = [{:lat => 40.782001,:lng => -73.832703}]
      end
    %> 
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  console.log(<%=raw @hash.to_json %>)
});

</script>